/* Styling for the Sponsor logos on About page*/
div.sponsor img {
    margin: 16px 0 !important;
}

div.sponsor {
    display: inline-block;
}

img.company-logo {
    height: auto !important;
    width: 75% !important;
}

.about-section .row {
    padding-left: 30px;
    padding-right: 30px;
}

#donate-link {
    margin: 20px auto 0px auto;
    width: 240px;
    display: block;
}

#donate .row p {
    margin: 15px;
}

/* .Card-header, .card-info, .card-link, and .material are used for cards within the steering council section of the page. */
div.page_content img.council-member-photo {
    width: 215px;
    height: auto;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin-top: 0px;
    margin-left: -15px;
}

.card-header {
    float:left;
    font-size: 16px;
    margin-top: 10px;
    text-align: left;
    width: 100%;
}

.card-info {
    float:left;
    font-size: 13px;
    margin-top: 0;
    text-align: left;
}

.card-link a {
    color: #F27624;
    float: left;
    font-size: 15px;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
}

.card-link a:hover {
    text-decoration: none;
}

.material {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: inline-block;
    height: 315px;
    margin: 1rem;
    position: relative;
    transition: all 0.2s ease-in-out;
    width: 215px;
}
