.docs-get-started {
  background-color: white;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  padding: 0px;
}
.docs-get-started-section-head {
  padding: 20px 24px 0px 24px;
  margin-top: 0px;
  margin-bottom: 4px;
}
.docs-get-started-items {
  list-style: none;
  list-style-type: none;
  padding: 0px 24px;
}
.docs-get-started-item {
  padding: 8px 0px;
}
.docs-get-started-head {
  margin-top: 0px;
  margin-bottom: 4px;
  color: #1976D2;
}
.docs-get-started-subhead {
  margin-bottom: 0px;
}
.docs-projects-documentation {
  padding: 0px 0px 0px 36px;
}
.docs-projects-head {
  padding-left: 8px;
}
.docs-projects-item {
  background-color: white;
  height: 100px;
  width: 232px;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  margin: 8px;
  text-align: left;
}
.docs-project-tile-head {
  font-size: 20px;
}
.docs-project-two-line {
  margin-top: 22px;
}
.docs-project-one-line {
  margin-top: 36px;
}
.docs-dropdown-menu {
  font-size: 16px;
  width: 232px;
  top: 105px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.interfaces-dropdown-menu {
  left: 8px;
}
.education-dropdown-menu {
  left: 256px;
}
.jupyterhub-dropdown-menu {
  left: 504px;
}
#interfaces-block {
  background-image: url(../assets/documentation/interfaces-block.svg);
  background-repeat: no-repeat;
  background-position: 120px;
}
#education-block {
  background-image: url(../assets/documentation/education-block.svg);
  background-repeat: no-repeat;
  background-position: 124px;
}
#jupyterhub-block {
  background-image: url(../assets/documentation/jupyterhub_block.svg);
  background-repeat: no-repeat;
  background-position: 132px 10px;
}
#kernels-block {
  background-image: url(../assets/documentation/kernels-block.svg);
  background-repeat: no-repeat;
  background-position: 120px 15px;
}
#conversion-block {
  background-image: url(../assets/documentation/conversion-block.svg);
  background-repeat: no-repeat;
  background-position: 158px;
}
#ipython-block {
  background-image: url(../assets/documentation/ipython-block-placeholder.png);
  background-repeat: no-repeat;
  background-position: 112px;
}
#architecture-block {
  background-image: url(../assets/documentation/architecture-block.png);
  background-repeat: no-repeat;
  background-position: 155px 24px;
}
#deployment-block {
  background-image: url(../assets/documentation/deployment-block.svg);
  background-repeat: no-repeat;
  background-position: 140px;
}
#jupyterlab-block {
  background-image: url(../assets/documentation/jupyterlab-block.svg);
  background-repeat: no-repeat;
  background-position: 132px 32px;
}
