#jupyter-logo {
    width: 400px;
    margin: auto;
    text-align: center;
}

body {
    font-family: "proxima-nova", sans-serif;
    font-size: 18px;
    background-color: #eee;
}

.container {
  background-color: white;
}

#ipython-jupyter-bullets {
  margin-bottom: 50px;
}

div#main-title {
    margin: 40px 0px;
    text-align: center;
}

div#main-title h1 {
    font-size: 48px;
}

div#jupyter-logo {
    margin: 60px 0px;
    position: relative;
}

#jupyter-logo .icon {
    margin: 0px 10px;
}

div#sub-title {
    margin-bottom: 50px;
    text-align: center;
}

div#sub-title h2 {
    font-size: 28px;
}


div#footer {
    position: relative;
    bottom: 0px;
    margin-bottom: 20px;
}

img.language-logo {
    display: none;
    height: 64px;
    width: 64px;
    position: absolute;
    top: -5px;
    left: 120px;
}

#moon-1:hover + #julia {
    display: block;
} 

#moon-2:hover + #python {
    display: block;
} 

#moon-3:hover + #r {
    display: block;
} 