.container{
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: justify;
}

.tooltip-inner {
  white-space:pre-wrap;
}

.search-icon {
  position: absolute;
  margin: 8px 0 0 5px;
}

.search-kernels{
  text-indent: 20px;
}

.kernel-sorts i{
  margin-right: 5px;
}

.kernel .version {
  margin-left: 10px;
  font-size: 80%;
}

.container > .features {
  margin-top: .5em;
}

.features .feature{
  text-align: center;
}

.kernel .title {
  margin-top: 0;
}

.language label{
  margin: 0 5px;
}

.kernel .features {
  margin: -8px -8px 0 0;
  text-align: justify;
}

.kernel .features .btn:first-child {
  padding-left: 0;
}

.kernel .feature-container {
  padding: 20px 0 0 0;
}

.kernel .panel-footer{
  padding: 0;
}

.steps {
  text-align: justify;
}
.steps h3 {
  text-align: center;
}

.steps .logo{
  max-width: 100px;
  max-height: 100px;
}
