/* Bootstrap overloads */
.container{
  text-align: justify;
}

.tooltip-inner {
  white-space:pre-wrap;
}

/* bootstrap-material-design overloads */
* {
  font-family: "RobotoDraft", Helvetica, sans-serif;
}

.tooltip {
  font-size: 100%;
}

/* custom stuff */
header {
  z-index: 1000;
  position: fixed;
}

.brand-logo {
  min-width: 100px;
}

.post-watershed .hide-watershed{
  display: none;
}


.pre-watershed .lead {
  margin: 40px 0;
}

.search-kernels{
  display: inline-block;
  text-align: center;
  background-color: #fffde7;
}

.search-kernels{
  width: 10em;
}

header .btn-group .btn{
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

header .feature span {
  display: block;
}

.kernels {
  margin-top: 260px;
  margin-top: 40px;
}

.kernel {
  margin-bottom: 36px;
  position: relative;
}

.kernel .version {
  margin-left: 10px;
}


.kernel .actions {
  margin-bottom: -38px;
}

.kernel .actions .btn{
  margin-left: 8px;
}

.kernel .language label{
  margin: 0 5px;
}

.kernel .features {
  margin: 5px 0;
}

.kernel .feature:first-child{
  margin-left: -6px;
}

.steps {
  text-align: justify;
}
.steps h3 {
  text-align: center;
}

.steps .logo{
  max-width: 100px;
  max-height: 100px;
}
