# These individuals will be automatically added as reviewers to any pull request
# on this repo

# These owners will be the default owners for everything in the repo.
*       @cameronoelsen
*       @ruv7
