<section>
    <div class="top-section-border">
        <div class="container">
            <div class="row cardlist">
              {%- for card in site.data.documentation -%}
                <div class="col-lg-4 col-md-6 col-sm-6 cardlist-col">
                  <div class="cardlist-card doc-card">
                    <div class="card-heading">
                      <h4>{{card[0]}}</h4>
                    </div>
                    <div class="card-body">
                      <ul>
                        {%- for item in card[1] %}
                        <li><a href="{{item[1]}}">{{item[0]}}</a></li>
                        {%- endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              {%- endfor -%}
            </div>
        </div>
    </div>
</section>
