/* Reusable elements */

/* Icon above section header */
.section-icon {
  display: block;
  margin: 2em auto 0 auto;
  max-width: 60px;
  max-height: 60px;
}

/* Header for each section */
.section-header {
  margin: 12px auto 8px;
  text-align: center;
}

/* Used for descriptions of sections underneath section headers*/
.support-paragraph {
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  max-width: 630px;
  margin: 0 auto 16px auto;
}

/* Orange action button */

#donate-formatting {
  width: 100%;
  text-align: center;
}

#donate-formatting a {
  width: 250px;
  box-sizing: border-box;
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 16px;
}

#donate-link {
  margin: 20px auto 0px auto;
  width: 240px;
  display: block;
}

#donate .row p {
  margin: 15px;
}

#numfocus-logo {
  height: 100px;
  width: auto;
  margin: auto;
}
