body {
    font-weight: 400;
    /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    padding-top: 70px;
}

.jupytercon-nav > li > .black-tab {
    color: black;
}

.tab:hover {
    background-color: transparent;
    color: #E46E2E;
}

/* Reusable elements */

/* Section elements */
/* Section classes used for particular sections within a page. Sections should differ in background color when used next to each other */
.section-white {
    background-color: white;
    padding: 56px 0;
}

.section-grey {
  background-color: #f5f5f5;
  border-bottom: 1px solid #E0E0E0;
  border-top: 1px solid #E0E0E0;
  padding: 56px 0;
}

/* Used to specifying when a section is at the top or bottom of the page to apply appropriate border */
.top-section-border {
    border-top: 1px solid #E0E0E0;
}

.bottom-section-border {
    border-bottom: 1px solid #E0E0E0;
}

.section-content {
    display: block;
    margin: 0 auto;
}

/* Icon above section header */
.section-icon {
    display: block;
    margin: 0 auto;
}

/* Header for each section */
.section-header {
    margin: 12px auto 8px;
    text-align: center;
}

/* Used for descriptions of sections underneath section headers*/
.support-paragraph {
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
    max-width: 630px;
    margin: 0 auto 16px auto;
}

/* Orange action button */
.orange-button {
    background-color: #E46E2E;
    border-radius: 2px;
    color: white;
    text-shadow: 0px 0px 4px black;
    display: inline-block;
    font-size: 16px;
    padding: 13px 26px;
    text-align: center;
    text-decoration: none;
    margin: 0px 4px 0px 4px;
}
.install-button {
    margin-top: 20px;
}

.orange-button:hover {
    background-color: #F27624;
    color: white;
    text-decoration: none;
}

.orange-button:active, .orange-button:focus {
    background-color: #DC601C;
    color: white;
    text-decoration: none;
}

/* Jupyter Notebook highlight section on front page */
.nb-highlight-text {
    margin-top: 60px;
}

.notebook-icon {
    height: auto;
    margin-right: 12px;
    width: 60px;
}

/* Give space between the notebook features (4 features) on front page and the     img + description */
.notebook-features {
    margin-top: 32px;
}

.notebook-features p{
    padding-top: 16px;
}

.nb-desc {
    font-weight: 400;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 32px;
}

/* Install prompt on front page */
.install-prompt {
    background-color: #f5f5f5;
    border-bottom-color: #e0e0e0;
    border-left-style: none;
    border-style: solid;
    border-top-color: #e0e0e0;
    border-width: thin;
    border-right: 0px;
    padding: 24px 0 42px 0;
    text-align: center;
}

.prompt-header {
    margin-bottom: 16px;
}

/* Architecture section on front page */
/* Some padding above the cards */
.architecturecontent {
    padding-top: 40px;
}

.card {
    display: block;
    height: 100%;
    text-align: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 300px;
    text-align: center;
    display: flex;
    width: 250px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.architecturecontent .card {
    height: 340px;
}

.architecturecontent .card h4 {
    margin-top: 20px;
}

/* Styling for each card in the architecture section on front page. Each card needs it's own front class to work with the javascript associated with the cards */
.card .front p {
    margin-top: 2rem;
}
.card .front {
    position: absolute;
    text-align: center;
    max-width: 225px;
    margin-left: 12.5px;
    height: 275px;
}

/*About Page */
/* Used to position the replacement SVG image when a screen is too small for the D3 visualization of contributors */
#visualization svg{
    display: block;
    margin: 0 auto;
}



/* Used to style the clickable tabs within the governance section */
.clickable {
    cursor: default;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    text-decoration: none;
}

.clickable:hover {
    color: #E46E2E
}

/* Active state when a tab in the governance section is selected */
.menuClicked {
    color: #E46E2E;
}

/* Used to style the description of a particular tab within the governance section */
.governance-desc {
    border-color: black;
    border-color: #979797;
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
    min-height: 100px;
    padding: 30px;
    transition: all 1s;
}

/* Donate Page */
.donate-box {
    background-color: white;
    border-color: #e0e0e0;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    margin-top: 32px;
    padding: 32px;
}

#donate-formatting {
    width: 100%;
    text-align: center;
}

#donate-formatting a {
    width: 250px;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
}

#numfocus-logo {
    height: 100px;
    width: auto;
    margin: auto;
}

/*Community Resources Page */

/* Resource section is used to create a new resource on the community resources page. */
.resource-section {
    border-bottom: 1px solid #E8E8E8;
    padding: 16px;
    vertical-align: middle;
}

/* Used to specify that the last resource should not have a border underneath it's content */
.resource-section:last-child {
    border-bottom: none;
}

.resource-text {
    text-align: left;
    vertical-align: middle;
}

.resource-logo {
    display: block;
    height: 80px !important;
    margin: 0 auto;
}

.resource-name {
     margin-top: 6px;
}

.resource-button {
    margin-top: 32px;
    text-align: center;
}

.resource-button a {
    background-color: #E46E2E;
    border-radius: 2px;
    color: white;
    letter-spacing: 1px;
    padding: 13px 60px;
    text-decoration: none;
    -webkit-transition: .2s;
}

.resource-button a:hover {
    background-color: #F27624;
}

.jupytercon-button {
    padding: 16px;
}

/* Bootstrap Breakpoint Media Queries */
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .section-white, .section-grey {
    padding: 5% 0;
  }
}

@media (max-width: 1200px) {
    .nb-highlight-text {
        margin-top: 32px;
    }
    .notebook-features .language-set h2{
        padding-top: 0;
    }
    .notebook-features #feature {
        padding-top: 4px;
    }
    .notebook-preview p {
        font-size: 15pt;
        line-height: 25pt;
    }
}

/* all elements in .containers that have a anchor 
 * need to be scrolled by at least 3 em to not be behind the hidden header.
 */
.container *{
    scroll-margin-top: 3em;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.375;
    }
    h4 {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.22;
    }
    h3 {
        font-size: 28px;
        font-weight: 500;
        line-height: 1.25;
    }
    h2 {
        font-size: 36px;
        font-weight: 500;
        line-height: 1.25;
    }
    .follow {
        float: right;
        margin-top: 15px;
    }
    .card {
        width: 300px;
    }
    .card .front {
        max-width: 275px;
    }
}

@media (max-width: 992px) {
    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25em;
    }
    h4 {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.11em;
    }
    h3 {
        font-size: 22px;
        font-weight: 500;
        line-height: 1.136em;
    }
    h2 {
        font-size: 26px;
        font-weight: 500;
        line-height: 1.153em;
    }
    .nb-highlight-text {
        text-align: center;
    }
    .notebook-features {
        margin-top: 0;
    }
    .language-set #feature {
        display: block;
    }
    .notebook-preview img {
        margin: 0 auto;
    }
    .notebook-icon {
        display: block;
        margin: 0 auto;
        padding-bottom: 10px;
    }
    .notebook-preview h1 {
        text-align: center;
    }
    .notebook-features  img {
        margin: 0 auto;
        width: 125px;
    }
    .notebook-features {
        text-align: center;
    }
    .notebook-feature {
        padding-top: 40px;
    }
    #data {
        padding-top: 40px;
    }
    .architecturedescription h2 {
        text-align: center;
    }
    .architecturedescription p {
        text-align: center;
    }
    .donate-box {
        margin-top: 10%;
    }
    .resource-section {
        height: 400px;
        padding: 10px 0 30px;
    }
    .resource-section:nth-child(even) {
        border-left: 1px solid #E8E8E8;
    }
    .resource-section img {
        margin-top: 15px;
        padding-bottom: 0;
    }
    .resource-content {
        padding-top: 48px;
    }
    .resource-text {
        padding-top: 0;
        text-align: center;
    }
    .follow {
        float: left;
        margin-bottom: 20px;
    }
    /* Container for buttons */
    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        margin-left:10px;
        margin-right:10px;
        width: calc(100% - 20px);
    }
    .tab {
        text-align: center;
    }
}

@media (max-width: 768px) {
    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25em;
    }
    h4 {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.11em;
    }
    h3 {
        font-size: 22px;
        font-weight: 500;
        line-height: 1.136em;
    }
    h2 {
        font-size: 26px;
        font-weight: 500;
        line-height: 1.153em;
    }
    .companies li {
        width: 30%;
        padding: 4%;
    }
    body {
        padding-top: 50px;
    }
}

/* Extra small devices (these are mostly fixes to make sure elements act correctly to look good) */
@media(max-width:509px) {
    .items {
        min-height:0;
        padding:10px;
    }
    .follow {
        float: none;
        display: block;
        margin: 0 auto;
    }
}
@media (min-width: 420px) {
    .button-container {
        flex-direction: row;
    }
    .install-button {
        margin-top: 0;
    }
}
@media (max-width: 420px) {
    .button-container {
        flex-direction: column;
    }
}

