---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---
@import "components/box";
@import "components/copy";
@import "components/headlines";
@import "components/navbar";
@import "components/logogrid";
@import "components/hyperlinks";
@import "components/footer";
@import "components/jumbotron";
@import "components/jupyterhub";
@import "components/page-header";
@import "components/iframes";
@import "components/containers";
@import "components/biocard";
@import "components/homepage";
@import "components/syntax";
@import "components/sections";
@import "components/community-resource";
@import "components/about-box";
@import "components/widgets";
@import "components/hr";

.dropshadow {
    /* Make the foreground stand out from the background slightly */
    filter: drop-shadow(0px 0px 8px rgba(0,0,0,0.3));
}

.con-subtitle {
    float: right;
    clear: both;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
}

.con-program {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 34px;
    color: #FFFFFF;
    clear: both;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.con-program p {
    font-weight: normal;
    margin-bottom: 0;
}

.con-date {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
    line-height: 34px;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px
}

.con-copy {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 200;
    color: black;
    text-align: center;
    float: right;
    width: 460px;
    height: 44px;
    clear: both;
    margin-bottom: 8px;
}

.con-big-copy {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 28px;
    line-height: 33px;
    font-weight: 200;
    color: black;
    text-align: center;
    float: right;
    width: 460px;
    height: 34px;
    clear: both;
    margin-bottom: 27px;
}

.con-button {
    float: right;
    clear: both;
    margin-right: 28px !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}



.jupytercon-section {
    background: url('../jupytercon-planet.jpg');
    background-size: 100%;
    color: white;
    border-bottom-color: #e0e0e0;
    border-left-style: none;
    border-style: solid;
    border-top-color: #e0e0e0;
    border-width: thin;
    border-right: 0px;
    padding: 24px 0 42px 0;
    text-align: center;
    min-height: 300px;
    padding-top: 55px;
}

.jupytercon-section p{
  margin-bottom: 40px;

}
.jupytercon-section p a{
    color: white;
    text-decoration: underline;
}

.con-subtitle {
    color: black;
    font-weight: 400;
}
