// Jupyter official orange
$orange: #f37626;
$dark-orange: #c5540b; // A close shade of Jupyter orange that's more readable on white

// Jupyter official grays
$dark-gray: #4d4d4d;
$medium-dark-gray: #616161;
$medium-gray: #757575;
$gray: #9e9e9e;

// Other handy colors
$black: #000000;
$white: #ffffff;
$light-gray: #f5f5f5;
$blue: #0c7bc6;

// Button colors
$button-orange: #e46e2e;
$button-hover: #f27624;
$button-active: #dc601c;
