$spacing-ratio: 1.55 !default;

$size: 1rem !default;

$size-0: $size;

$size-1: $size * $spacing-ratio;
$size-2: $size-1 * $spacing-ratio;
$size-3: $size-2 * $spacing-ratio;
$size-4: $size-3 * $spacing-ratio;

$size-n1: $size / $spacing-ratio;
$size-n2: $size-n1 / $spacing-ratio;
$size-n3: $size-n2 / $spacing-ratio;
$size-n4: $size-n3 / $spacing-ratio;
