@import "settings/colors";
@import "settings/breakpoints";

.resourcelist {
  display: table;
  clear: both;
}

.resource {
  border-bottom: 1px solid #e8e8e8;
  padding: 16px;
  vertical-align: middle;
  &:last-child {
    border-bottom: none;
  }
  .resource-text {
    text-align: left;
    vertical-align: middle;
  }
  .resource-logo {
    display: block;
    height: 80px !important;
    margin: 0 auto;
  }
  .resource-name {
    margin-top: 6px;
  }
  .resource-button {
    margin-top: 32px;
    text-align: center;
  }
  a {
    background-color: $button-orange;
    border-radius: 2px;
    color: white;
    letter-spacing: 1px;
    padding: 13px;
    text-decoration: none;
    -webkit-transition: 0.2s;
    &:hover {
      background-color: $button-hover;
    }
    &:active {
      background-color: $button-active;
    }
  }
}

@media (max-width: $breakpoint-l) {
  .resource {
    height: 400px;
    padding: 10px 0 30px;
    &:nth-child(even) {
      border-left: 1px solid #e8e8e8;
    }
    img {
      margin-top: 15px;
      padding-bottom: 0;
    }
    .resource-content {
      padding-top: 48px;
    }
    .resource-text {
      padding-top: 0;
      text-align: center;
    }
  }
}
