@import "settings/fonts";

h1, h2, h3 {
  font-family: $font-family-sans-serif;
  font-weight: 500;
  line-height: 1.3;
  margin-top: 2em;
  margin-bottom: 0.33em;
}

h1 {
  font-size: 3.66rem;
}

h2 {
  font-size: 2.66rem;
}

h3 {
  font-size: 2rem;
}

