@import "settings/colors";

a {
  color: $dark-orange;
  text-decoration: none;
}
a:hover,
a:focus {
  opacity: 0.8;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

