@import "settings/colors";

.navbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    border-bottom: 1px solid darken($light-gray, 10%);
    background-color: $white;
    padding: 15px 25px;
    @media (max-width: 768px) {
        padding: 0.5em 1em;
    }
    .navbar-header {
        float: left;
    }
    .navbar-brand {
        > img {
                display: block;
            }
     }
    .navbar-brand:hover,
    .navbar-brand:focus {
      text-decoration: none;
    }
    .navbar-collapse {
        padding-right: 15px;
        padding-left: 15px;
        overflow-x: visible;
        -webkit-overflow-scrolling: touch;
        border-top: 1px solid transparent;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
              box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    }
    .collapse {
        @media (max-width: 768px) {
            display: none;
        }
    }
    .show {
      display: block !important;
    }
    .fade {
      opacity: 0;
      -webkit-transition: opacity .15s linear;
           -o-transition: opacity .15s linear;
              transition: opacity .15s linear;
    }
    .fade.in {
      opacity: 1;
    }
    .collapse.in {
      display: block;
    }
    .collapsing {
      position: relative;
      height: 0;
      overflow: hidden;
      -webkit-transition-timing-function: ease;
           -o-transition-timing-function: ease;
              transition-timing-function: ease;
      -webkit-transition-duration: .35s;
           -o-transition-duration: .35s;
              transition-duration: .35s;
      -webkit-transition-property: height, visibility;
           -o-transition-property: height, visibility;
              transition-property: height, visibility;
    }
    .navbar-links {
        list-style: none;
        float: right;
        padding: 0;
        margin: 0;
        @media (max-width: 767px) {
            float: left;
            clear: both;
        }
        li {
            float: left;
            position: relative;
            display: block;
            font-size: 16px;
            padding: 12px 12px 0;
            line-height: 20px;
            a {
                color: $black;
            }
            a:hover {
                color: $orange;
                text-decoration: none;
            }
            @media (max-width: 767px) {
                padding: 16px 0;
                font-size: 13px;
                clear: both;
            }
        }
    }
    .hamburger {
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        .icon-bar {
            background-color: black;
            display: block;
            width: 22px;
            height: 2px;
            border-radius: 1px;
            background-color: black;
        }
        .icon-bar + .icon-bar {
            margin-top: 4px;
        }
        @media (min-width: 768px) {
            display: none;
        }
    }
}

//.navbar-nav {
//  margin: 7.5px -15px;
//}
//.navbar-nav > li > a {
//  padding-top: 10px;
//  padding-bottom: 10px;
//  line-height: 20px;
//}
//@media (max-width: 767px) {
//  .navbar-nav .open .dropdown-menu {
//    position: static;
//    float: none;
//    width: auto;
//    margin-top: 0;
//    background-color: transparent;
//    border: 0;
//    -webkit-box-shadow: none;
//            box-shadow: none;
//  }
//  .navbar-nav .open .dropdown-menu > li > a,
//  .navbar-nav .open .dropdown-menu .dropdown-header {
//    padding: 5px 15px 5px 25px;
//  }
//  .navbar-nav .open .dropdown-menu > li > a {
//    line-height: 20px;
//  }
//  .navbar-nav .open .dropdown-menu > li > a:hover,
//  .navbar-nav .open .dropdown-menu > li > a:focus {
//    background-image: none;
//  }
//}
//@media (min-width: 768px) {
//  .navbar-nav {
//    float: left;
//    margin: 0;
//  }
//  .navbar-nav > li {
//    float: left;
//  }
//  .navbar-nav > li > a {
//    padding-top: 15px;
//    padding-bottom: 15px;
//  }
//}
//.navbar-nav > li > .dropdown-menu {
//  margin-top: 0;
//  border-top-left-radius: 0;
//  border-top-right-radius: 0;
//}
//.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
//  margin-bottom: 0;
//  border-top-left-radius: 4px;
//  border-top-right-radius: 4px;
//  border-bottom-right-radius: 0;
//  border-bottom-left-radius: 0;
//}
//.navbar {
//    border-width: thin;
//    -webkit-transition: .2s;
//    background-color: white;
//    border-bottom: 1px solid #e0e0e0;
//    background-color: white;
//}

//@media (min-width: 768px) {
//  .navbar-collapse {
//    width: auto;
//    border-top: 0;
//    -webkit-box-shadow: none;
//            box-shadow: none;
//  }
//  .navbar-collapse.collapse {
//    display: block !important;
//    height: auto !important;
//    padding-bottom: 0;
//    overflow: visible !important;
//  }
//  .navbar-collapse.in {
//    overflow-y: visible;
//  }
//  .navbar-fixed-top .navbar-collapse {
//    padding-right: 0;
//    padding-left: 0;
//  }
//}
//.navbar-fixed-top .navbar-collapse {
//  max-height: 340px;
//}
//@media (max-device-width: 480px) and (orientation: landscape) {
//  .navbar-fixed-top .navbar-collapse {
//    max-height: 200px;
//  }
//}
//.navbar-fixed-top .nav {
//    padding: 15px 0;
//}
//.navbar-fixed-top .navbar-collapse {
//    max-height: 440px;
//}
//.navbar-fixed-top 
//.navbar-header, .navbar-collapse {
//  margin-right: -15px;
//  margin-left: -15px;
//}
//@media (min-width: 768px) {
//  .navbar-header, .navbar-collapse {
//    margin-right: 0;
//    margin-left: 0;
//  }
//}
//@media (min-width: 768px) {
//  .navbar-header {
//    float: left;
//  }
//}

//@media (max-width: 768px) {
//    .navbar-header {
//        margin-bottom: 0;
//    }
//}
//.navbar-toggle {
//  position: relative;
//  float: right;
//  padding: 9px 10px;
//  margin-top: 8px;
//  margin-right: 15px;
//  margin-bottom: 8px;
//  background-color: transparent;
//  background-image: none;
//  border: 1px solid transparent;
//  border-radius: 4px;
//}
//.navbar-toggle:focus {
//  outline: 0;
//}

//@media (min-width: 768px) {
//    .navbar-toggle {
//        margin-top: 20px;
//    }
//}
//@media (max-width: 768px) {
//    .navbar-toggle {
//        padding-top: 10px;
//    }
//}


//.navbar-collapse.in {
//  overflow-y: auto;
//}
//@media (min-width: 768px) {
//  .navbar-collapse {
//    width: auto;
//    border-top: 0;
//    -webkit-box-shadow: none;
//            box-shadow: none;
//  }
//  .navbar-collapse.collapse {
//    display: block !important;
//    height: auto !important;
//    padding-bottom: 0;
//    overflow: visible !important;
//  }
//  .navbar-collapse.in {
//    overflow-y: visible;
//  }
//  .navbar-static-top .navbar-collapse,
//  .navbar-fixed-bottom .navbar-collapse {
//    padding-right: 0;
//    padding-left: 0;
//  }
//}
//.navbar-fixed-bottom .navbar-collapse {
//  max-height: 340px;
//}
//@media (max-device-width: 480px) and (orientation: landscape) {
//  .navbar-fixed-bottom .navbar-collapse {
//    max-height: 200px;
//  }
//}
//.navbar {
//  position: relative;
//  min-height: 50px;
//  margin-bottom: 20px;
//  border: 1px solid transparent;
//}
//@media (min-width: 768px) {
//  .navbar {
//    border-radius: 4px;
//  }
//}

//.navbar-nav {
//  margin: 7.5px -15px;
//}
//.navbar-nav > li > a {
//  padding-top: 10px;
//  padding-bottom: 10px;
//  line-height: 20px;
//}
//@media (max-width: 767px) {
//  .navbar-nav .open .dropdown-menu {
//    position: static;
//    float: none;
//    width: auto;
//    margin-top: 0;
//    background-color: transparent;
//    border: 0;
//    -webkit-box-shadow: none;
//            box-shadow: none;
//  }
//  .navbar-nav .open .dropdown-menu > li > a,
//  .navbar-nav .open .dropdown-menu .dropdown-header {
//    padding: 5px 15px 5px 25px;
//  }
//  .navbar-nav .open .dropdown-menu > li > a {
//    line-height: 20px;
//  }
//  .navbar-nav .open .dropdown-menu > li > a:hover,
//  .navbar-nav .open .dropdown-menu > li > a:focus {
//    background-image: none;
//  }
//}
//@media (min-width: 768px) {
//  .navbar-nav {
//    float: left;
//    margin: 0;
//  }
//  .navbar-nav > li {
//    float: left;
//  }
//  .navbar-nav > li > a {
//    padding-top: 15px;
//    padding-bottom: 15px;
//  }
//}
//.navbar-nav > li > .dropdown-menu {
//  margin-top: 0;
//  border-top-left-radius: 0;
//  border-top-right-radius: 0;
//}
//.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
//  margin-bottom: 0;
//  border-top-left-radius: 4px;
//  border-top-right-radius: 4px;
//  border-bottom-right-radius: 0;
//  border-bottom-left-radius: 0;
//}
//.navbar {
//    border-width: thin;
//    -webkit-transition: .2s;
//    background-color: white;
//    border-bottom: 1px solid #e0e0e0;
//    background-color: white;
//}
//.navbar a {
//    color: black;
//}
//.navbar-nav > li > .navbar-active {
//    color: #E46E2E;
//}
//@media (min-width: 768px) {
//  .navbar-left {
//    float: left !important;
//  }
//  .navbar-right {
//    float: right !important;
//    margin-right: -15px;
//  }
//  .navbar-right ~ .navbar-right {
//    margin-right: 0;
//  }
//}
//@media (min-width: 768px) {
//    .navbar-right {
//        margin-right: 10px;
//    }
//}
//.nav {
//  padding-left: 0;
//  margin-bottom: 0;
//  list-style: none;
//}
//.nav > li {
//  position: relative;
//  display: block;
//}
//.nav > li > a {
//  position: relative;
//  display: block;
//  padding: 10px 15px;
//}
//.nav > li > a:hover,
//.nav > li > a:focus {
//  text-decoration: none;
//  background-color: #eee;
//}
//.nav > li.disabled > a {
//  color: #777;
//}
//.nav > li.disabled > a:hover,
//.nav > li.disabled > a:focus {
//  color: #777;
//  text-decoration: none;
//  cursor: not-allowed;
//  background-color: transparent;
//}
//.nav .open > a,
//.nav .open > a:hover,
//.nav .open > a:focus {
//  background-color: #eee;
//  border-color: #337ab7;
//}
//.nav .nav-divider {
//  height: 1px;
//  margin: 9px 0;
//  overflow: hidden;
//  background-color: #e5e5e5;
//}
//.nav > li > a > img {
//  max-width: none;
//}
//.nav > li > a {
//    font-size: 16px;
//    padding: 12px 12px 10px;
//}

//.nav > li > a:hover {
//    background-color: transparent;
//    color: #E46E2E;
//    -webkit-transition: .2s;
//}

//.nav > li > a:focus {
//    background-color: white;
//}

//.nav > li > a:active {
//    background-color: #F8F8F8;
//}

//.nav > li > a:visited {
//    background-color: #F8F8F8;
//}

//@media (max-width: 992px) {
//    .nav>li>a {
//        letter-spacing: .8px;
//        font-size: 13px;
//        padding-left: 8px;
//        padding-right: 8px;
//    }
//}
//@media (max-width: 768px) {
//    .nav>li>a {
//        letter-spacing: 1px;
//        padding-left: 16px;
//        padding-right: 16px;
//    }
//}
