@import "settings/colors";

.page-header {
  padding: 3em 1em;
  margin-bottom: 3em;
  text-align: center;
  background-color: $light-gray;
  h1 {
    margin: 0;
  }
  img {
    max-height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  p {
    margin: 0 auto;
    max-width: 500px;
    line-height: 1.5;
  }
}
