@import "settings/colors";

.page-header {
    padding: 3em 1em;
    text-align: center;
    background-color: $light-gray;
    h1 {
        font-size: 2.5em;
        line-height: 1.3;
        @media (max-width: 767px) {
            font-size: 2em;
        }
    }
    img {
        max-height: 200px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    p {
        margin: 0 auto;
        max-width: 500px;
        line-height: 1.5;
    }
}
