---
layout: default
---

{{content | markdownify }}
<style>

.resource-item{
  transition: all 0.5s ease;
}

.hid {
  height:0;
  padding:0;
  opacity:0;
}

.section-header, .support-paragraph, .sec-logo {
  transition: all 0.5s ease;
}
/*.searching .section-header ,*/
.searching .support-paragraph,
.searching .sec-logo{

   height: 0;
   opacity: 0;
   padding: 0;
   margin: 0;
}

.sponsored-item {
  background-color: #f6f6f6;
}
.sponsored-item:hover {
  background-color: #ddd;
}

.legal-attributes * {
    color: gray;
    font-size: 80%;
    display: inline;
}

.legal-attributes {
  float: right;
}

.legal-attributes > span:after {
    content: ' -';
}

.legal-attributes > span:last-child:after {
  content: '';
}


</style>



<div class="section-white">
<div class="container">
<p>The projects and services listed on this page are mostly maintained by third
party, the quality, and correctness of implementation, frequency of update, and
support are not guarantied, nor is the presence of a project or service on this
page a recommendation to use it. This list is not exhaustive. If you see a
missing project, feel free to open a Pull-Request. Be sure to check with the
author before adding it here.</p>
</div>
</div>

    <div class="container">
        <div class="row">
          <div class="form-group col-xs-12 col btn-group" role='group'>
            <input class='form-control' placeholder='Filter items'
            style='display:none' id='searchfield' type='text'>
          </div> 
        </div>
    </div>


{% for category in site.data.ecosystem %}
    <section class='searchable_category'>
        <div class="container">
              <h2 class='col-md-12 section-header' id='{{category[0]}}'>{{category[0]}}</h2>
              {%- if category[1].logo %}
                            <img
                            src="{{site.baseurl}}/assets/{{category[1].logo}}"
                            class="sec-logo resource-logo" alt="{{category[0]}} icon">
              {% endif -%}
              <div class='support-paragraph'>
              {{category[1].description | markdownify}}
              </div>
              <div class='row'>
              {% assign sponsored = category[1].items | group_by: 'sponsored' | sort: 'name' | reverse %}
              {% for xx in sponsored %}
              {% assign sorted = xx.items| sort: 'name' %}
              <!--- {{xx}} -->
              {% for item in sorted %}
                <div class="col-md-12 resource-item {% if item.sponsored %}sponsored-item{% endif %}"
                  data-filter='
                     {{-item.name-}}|
                     {{-category[0]}}|
                     {{-item.description-}}|
                     {{-item.tags-}}
                     '>
                    <div class="resource-content">
                        <div class="col-md-2">
                          {%- if item.logo %}
                          <img src="{{site.baseurl}}/assets/{{item.logo}}" class="resource-logo" alt="{{item.name}} icon">
                          {% else -%}
                            {%- if category[1].logo %}
                            <img src="{{site.baseurl}}/assets/{{category[1].logo}}" class="resource-logo" alt="generic icon">
                            {% endif -%}
                          {% else -%}
                          {% endif -%}
                        </div>
                        <div class="col-md-8 resource-text">
                            <div class='legal-attributes'>
                              {% if item.sponsored %}
                                <span title="This item is sponsored: It has been artificially be made more proeminent.">sponsored</span>
                              {% endif %}
                              {% if item.licence %}
                                <span title='This item is under the {{item.licence}} license'>{{item['licence']}}</span>
                              {% endif %}
                              {% if item.commercial %}
                                <span>Commercial</span>
                              {% endif %}
                            </div>
                            <h3 class="resource-name" id='{{category[0]}}-{{item.name}}'>{{item.name}}</h3>
                            <p class="resource-desc">{{item.description}}</p>
                        </div>
                        {%- if item.url -%}
                        <div class="col-md-2 resource-button">
                          <a href="{{item.url}}">View</a>
                        </div>
                        {%- endif -%}
                    </div>
                </div>

              {% endfor %}
              {% endfor %}
            </div>
        </div>
    </section>
{% endfor %}
